# Example 3: Build packages from git repositories
# Building from specific git tags/commits ensures reproducible builds
git+https://github.com/pallets/click.git@8.1.7
git+https://github.com/psf/requests.git@v2.32.0

# You can also build from branches (less reproducible)
# git+https://github.com/pallets/flask.git@main

# Or from specific commits
# git+https://github.com/psf/requests.git@45b1e80
